@using Application.UseCases

@page "/"
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@inject GenerateInvoicePdf GenerateInvoicePdf

<script src="js/site.js"></script>

<PageTitle>Home</PageTitle>

<h3>Gerar PDF com Gotenberg</h3>

<br />

<button class="btn btn-primary" @onclick="GeneratePdf">Gerar PDF</button>

@code {
    private async Task GeneratePdf()
    {
        var pdfBytes = await GenerateInvoicePdf.ExecuteAsync();

        if (pdfBytes != null)
        {
            var fileURL = await JS.InvokeAsync<string>("createBlobURL", pdfBytes);
            await JS.InvokeVoidAsync("open", fileURL, "_blank");
        }
        else
        {
            Console.WriteLine("Erro ao gerar o PDF.");
        }
    }
}
