<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <title>Fatura</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .header {
            font-size: 18px;
            font-weight: bold;
        }

        .footer {
            font-size: 12px;
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <div class="header">Fatura de {{NomeEmpresa}}</div>
    <p>Valor: {{ValorFatura}}</p>
    <p>Vencimento: {{DataVencimento}}</p>

    <div class="footer">
        <p>Obrigado por utilizar nossos serviços!</p>
    </div>
</body>
</html>
